aniso8601==9.0.1
asgiref==3.7.2
click==8.1.7
colorama==0.4.6
cssselect2==0.7.0
Django==4.2.6
django-appconf==1.0.6
django-classy-tags==4.1.0
django-cms==4.1.0rc4
django-cors-headers==4.3.1
django-entangled==0.5.4
django-filer==3.1.1
django-formtools==2.4.1
django-fsm==2.8.1
django-parler==2.3
django-polymorphic==3.1.0
django-sekizai==4.1.0
django-select2==8.1.2
django-treebeard==4.7
djangocms-admin-style==3.2.6
djangocms-alias==2.0.0rc2
djangocms-attributes-field==3.0.0
djangocms-frontend==1.1.10
djangocms-text-ckeditor==5.1.4
djangocms-versioning==2.0.0rc1
easy-thumbnails==2.8.5
graphene==3.3
graphene-django==3.1.5
graphql-core==3.2.3
graphql-relay==3.2.0
html5lib==1.1
lxml==4.9.3
packaging==23.2
Pillow==10.1.0
promise==2.3
reportlab==4.0.7
six==1.16.0
sqlparse==0.4.4
svglib==1.5.1
svgwrite==1.4.3
text-unidecode==1.3
tinycss2==1.2.1
Tree==0.2.4
tzdata==2023.3
webencodings==0.5.1
whitenoise==6.6.0
