{% extends "base/home/base.html" %}
{% load static %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 pr-5">
                {% block content1 %}
                <div id="article-container">
                    <h5>{{ article.title }}</h5>

                    {% if article.image %}
                    <img src="{{ article.image.url }}" class="mt-2" alt="" />
                    {% else %}
                    <!-- Handle case when there is no image -->
                    {% endif %}

                    <p>{{ article.content }}</p>
                    <p><strong>Author:</strong> {{ article.author.name }}</p>
                    <p><strong>Publish Date:</strong> {{ article.pub_date }}</p>
                    {% include "base/article/comment_form.html" %}
                    {% include "base/article/comments.html" %}
                </div>
                {% endblock %}
            </div>

        </div>
    </div>


