<div class="comment-form my-5 pt-5">
    <h3>Add Comments</h3>
    <hr class="ml-0" />
    <hr class="s-br" />
    <table class="table table-borderless mt-4">
        <tr>
            <td><input type="text" class="form-control" placeholder="Name" /></td>
            <td><input type="email" class="form-control" placeholder="Email" /> </td>
            <td><input type="url" class="form-control" placeholder="Website" /> </td>
        </tr>
        <tr>
            <td colspan="3"><textarea class="form-control" placeholder="Your comment"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="3"><button class="btn text-uppercase ml-auto d-block">Add Comment</button>
            </td>
        </tr>
    </table>
</div>
