{% load static %}
<div class="comment-section mt-5">
    <h3> Comments</h3>
    <hr class="ml-0" />
    <div class="media pt-5">
        <div class="card mr-4">
            <img src="base/images/comment-user1.png" alt="" class="card-img">
            <div class="card-img-overlay">

            </div>
        </div>

        <div class="media-body">
            <div class="row">
                <div class="col text-left">
                    <h4>John Deo</h4>
                </div>
                <div class="col text-right">
                    <p class="my-0"><span>Add 11 Oct 2016</span> <a href="#" class="ml-3">Reply</a>
                    </p>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et
                tristique convallis. Class aptent taciti sociosqu ad litora torquent per conubia
                nostra, per inceptos himenaeos. Suspendisse orci sem, ultrices sit amet cursus
                vitae, fermentum nec turpis.</p>
            <div class="media py-5 mt-5 both-border">
                <div class="card mr-4">
                    <img src="{% static "base/images/quote.png" %}" alt="" class="card-img">
                    <div class="card-img-overlay">

                    </div>
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col text-left">
                            <h4>Jen Smith</h4>
                        </div>
                        <div class="col text-right">
                            <p class="my-0"><span>Add 11 Oct 2016</span> <a href="#"
                                    class="ml-3">Reply</a></p>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla
                        massa et tristique convallis. Class aptent taciti sociosqu ad litora
                        torquent per conubia nostra, per inceptos himenaeos. Suspendisse orci sem,
                        ultrices sit amet cursus vitae, fermentum nec turpis.</p>
                </div>
            </div>
        </div>
    </div>
</div>