{% load static %}
<h2 class="text-center fs-35 mt-5 pt-5 mb-0 pb-2">Related Articles</h2>
<hr class="mt-0 pt-0" />
<p class="text-center second-clr my-5">Nam liber tempor cum soluta nobis eleifend option congue
    nihil imperdiet doming id quod
    mazim placerat facer possim assum.</p>

<div class="row">
    <div class="col-md-6">
        <img src="{% static "base/images/ar-left.png" %}" class="w-100" alt="">
        <p class="img-tag text-center">LIFESTYLE</p>
        <hr class="mt-0" />
        <h3 class="text-center">Inside a Surf Champion’s World</h3>

        <ul class="nav nav-fill mx-auto pb-3">
            <li class="nav-item">
                <a class="nav-link" href="#">By John Doe</a>
            </li>
            <li><span>.</span></li>
            <li class="nav-item">
                <a class="nav-link" href="#">10 Oct 2016</a>
            </li>
            <li><span>.</span></li>
            <li class="nav-item">
                <a class="nav-link" href="#">12 Comments</a>
            </li>


        </ul>
        <p class="second-clr text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            In laoreet, enim nec venenatis luctus, lectus dolor accumsan magna, non rhoncus.</p>

        <a href="#" class="btn text-uppercase text-center mx-auto">Read More</a>

    </div>
    <div class="col-md-6 mt-md-4">
        <img src="{% static "base/images/ar-right.png" %}" class="w-100" alt="">
        <p class="img-tag text-center">FASHION</p>
        <hr class="mt-0" />
        <h3 class="text-center">10 Places in France Every
            Woman Should Go</h3>

        <ul class="nav nav-fill mx-auto pb-3">
            <li class="nav-item">
                <a class="nav-link" href="#">By John Doe</a>
            </li>
            <li><span>.</span></li>
            <li class="nav-item">
                <a class="nav-link" href="#">10 Oct 2016</a>
            </li>
            <li><span>.</span></li>
            <li class="nav-item">
                <a class="nav-link" href="#">12 Comments</a>
            </li>


        </ul>
        <p class="second-clr text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            In laoreet, enim nec venenatis luctus, lectus dolor accumsan magna, non rhoncus.</p>

        <a href="#" class="btn text-uppercase text-center mx-auto">Read More</a>
    </div>
</div>
