{% block foot %}
<footer class="container-fluid pt-5">
    <div class="container">
        <h2 class="logo text-center">DhadingStory</h2>
        <nav class="nav nav-fill mx-auto mt-5">
            <li class="nav-item">
                <a class="nav-link" href="https://facebook.com/" target="_blank"><i
                        class="fab fa-facebook-f"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://facebook.com/" target="_blank"><i
                        class="fab fa-twitter"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-google-plus-g"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-rss"></i></a>
            </li>
        </nav>
    </div>
    <div class="copyright mt-4">
        <p class="text-center">&copy; 2023 DhadingStory All Rights Reserved.</p>
    </div>
</footer>
{% endblock %}