{% load static %}
<header class="header-outer">
    <div class="header-inner responsive-wrapper">
        <div class="header-logo">
           <img src="{% static "img/logo1.jpg"%}" alt="Logo" class="img-thumbnail">
        </div>
        <h1>DhadingStory</h1>
        <nav class="header-navigation">
            <button>Home</button>
            <button>News</button>
            <button>Sports</button>
            <button>Blog</button>
            <button>About  Us</button>
             <img src="{% static "assets/images/search-icon.png" %}">
          
        </nav>
    </div>
</header>

