{% extends "base/base.html" %}
{% load static %}
 {% block body %}
<body>
    
    <div id="root"></div>
    <script type="text/babel">



        class Main extends React.Component {
            constructor(props) {
                super(props);
                this.state = {
                    articleData: [],
                    articlesToShow: 5,
                };
            }
        
         
            
            
        {% include "base/gql-fn.js" %}        
        
        {% include "base/fn.js" %}
        
            renderArticleCard(article, index) {
                return (
        
                    <div key={article.id} className="card-container" >
                        
                        <h5>{article.title}</h5>
                        <p>
                            
                            {article.expanded ? article.content : `${article.content.slice(0, 200)}... `}
                            <a href="#" onClick={() => this.toggleContent(index)}>
                                {article.expanded ? 'See Less' : 'See More'}
                            </a>
                        </p>
                        <p><strong>Author</strong> {article.author.name}</p>
                        <p><strong>Publish Date:</strong> {article.pubDate}</p>
                    </div>
        
                );
            }
        
        
                render() {
                        const { articlesToShow, articleData } = this.state;

    

         
                return (
                   
                     <div>
                        <div className="container-box">
                            <div className="main-box">
                            <h2 class="para">Main Content</h2>
                            <p >This is the main content of your website.</p>
                            </div>
                        </div>
                        {articleData.slice(0, articlesToShow).map((article, index) => {
                           return this.renderArticleCard(article, index);
                        })}
                                        
                            {articleData.length > articlesToShow && (
                                <button onClick={this.handleSeeMoreClick} className="btn btn-primary">
                                See More
                                </button>
                            )}

                                            
                        {articlesToShow > 5 && (
                            <button onClick={this.handleSeeLessClick} className="btn btn-secondary">
                            See Less
                            </button>
                        )}
                    </div>
                    
                );
            }
        }

        ReactDOM.render(<Main />, document.getElementById('root'));
    </script>
</body>

 {% endblock %}


