{% load static %}

    <div class="bg-cover clearfix pt-3">
        <h2 id="head-logo" class="logo">NAME(LOGO)</h2>
                <nav class="nav nav-fill mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://facebook.com/fh5co" target="_blank"><i
                        class="fab fa-facebook-f"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/fh5co" target="_blank"><i
                        class="fab fa-twitter"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-google-plus-g"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-rss"></i></a>
            </li>
        </nav>


        <input type="text" id="nav-search" class="nav-search mx-auto" name="" class="form-control">
        <div class="ml-0 mr-0 pb-1">
            <nav class="navbar navbar-expand-md">

                <button class="navbar-toggler ml-auto" data-target="#my-nav" data-toggle="collapse"
                    aria-controls="my-nav" aria-expanded="false" onclick="myFunction(this)"
                    aria-label="Toggle navigation">
                    <span class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span>
                </button>
                <div id="my-nav" class="collapse navbar-collapse">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a data-translate="news" class="nav-link" href="{% url 'home' %}">NEWS</a>
                        </li>
                        <li class="nav-item">
                            <a data-translate="sports" class="nav-link" href="{% url 'sports' %}">SPORTS</a>
                        </li>
                        <li class="nav-item">
                            <a data-translate="blogs" class="nav-link" href="{% url 'blogs' %}">BLOGS</a>
                        </li>
                        <li class="nav-item">
                            <a data-translate="tech" class="nav-link" href="#">TECH</a>
                        </li>
                        <li class="nav-item">
                            <a data-translate="life" class="nav-link" href="#">LIFE</a>
                        </li>
                        <li class="nav-item">
                            <a data-translate="opinion" class="nav-link" href="#">OPINION</a>
                        </li>
                        <li class="nav-item">
                            <button class="head-btn" onclick="setLanguage('en')">English</button>
                            <button class="head-btn" onclick="setLanguage('np')">नेपाली</button>
                        </li>
                        
                        <li class="nav-item">
                            <form action="" method="POST">
                                <div class="input-group mt-0 mx-auto" style="width:16px;">

                                    <div class="">
                                        <img src="{% static "base/images/search-icon.png" %}" id="toggle-search"
                                            class="ml-2 toggle-search" alt="search icon">
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <ul class="nav nav-fill mx-auto breadc pb-3">
            <li class="nav-item">
                <a class="nav-link active" href="index.html">Home</a>
            </li>
            <li><img src="{% static "base/images/star-shape.png" %}" class="mt-2" alt=""></li>
            <li class="nav-item">
                <a class="nav-link" href="#">Article</a>
            </li>
        </ul>
    </div>



