{% load static %}
<div class="container-fluid fh5co-recent-news mt-5 pb-5">
    <h2 class="text-uppercase text-center">Recent News</h2>
    <hr class="mx-auto" />

    <div class="play-list mt-5 pt-4">
        <div class="owl-carousel owl-carousel5 owl-theme">
            <div>

                <div class="card"> <img class="card-img link-img" src="{% static "base/images/news6.png" %}" alt="">
                    <div class="card-img-overlay">
                        <div class="top-area"><a href="#" class="text-center d-block"><i
                                    class="far fa-heart"></i></a></div>
                        <div class="bottom-area">
                            <div class="row">
                                <div class="col-5 pr-0 text-white">
                                    <a href="#" class="text-white"> <i class="fas fa-retweet"></i> Share</a>
                                </div>
                                <div class="col  pl-0   text-right"><a href="#" class="text-white"> June 3, 2019
                                        &nbsp; 6 <i class="far fa-comments"></i></a></div>
                            </div>
                            <h4 class="text-white mt-2">Xiaomi Hao Gertion Hones</h4>
                            <p class="text-white">Jhone Doe</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card"> <img class="card-img link-img" src="{% static "base/images/news2.png" %}" alt="">
                    <div class="card-img-overlay">
                        <div class="top-area"><a href="#" class="text-center d-block"><i
                                    class="far fa-heart"></i></a></div>
                        <div class="bottom-area">
                            <div class="row">
                                <div class="col-5 pr-0 text-white">
                                    <a href="#" class="text-white"> <i class="fas fa-retweet"></i> Share</a>
                                </div>
                                <div class="col  pl-0   text-right"><a href="#" class="text-white"> June 3, 2019
                                        &nbsp; 6 <i class="far fa-comments"></i></a></div>
                            </div>
                            <h4 class="text-white mt-2">Xiaomi Hao Gertion Hones</h4>
                            <p class="text-white">Jhone Doe</p>
                        </div>
                    </div>

                </div>
            </div>
            <div>
                <div class="card"> <img class="card-img link-img" src="{% static "base/images/news3.png" %}" alt="">
                    <div class="card-img-overlay">
                        <div class="top-area"><a href="#" class="text-center d-block"><i
                                    class="far fa-heart"></i></a></div>
                        <div class="bottom-area">
                            <div class="row">
                                <div class="col-5 pr-0 text-white">
                                    <a href="#" class="text-white"> <i class="fas fa-retweet"></i> Share</a>
                                </div>
                                <div class="col  pl-0   text-right"><a href="#" class="text-white"> June 3, 2019
                                        &nbsp; 6 <i class="far fa-comments"></i></a></div>
                            </div>
                            <h4 class="text-white mt-2">Xiaomi Hao Gertion Hones</h4>
                            <p class="text-white">Jhone Doe</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card"> <img class="card-img link-img" src="{% static "base/images/news4.png" %}" alt="">
                    <div class="card-img-overlay">
                        <div class="top-area"><a href="#" class="text-center d-block"><i
                                    class="far fa-heart"></i></a></div>
                        <div class="bottom-area">
                            <div class="row">
                                <div class="col-5 pr-0 text-white">
                                    <a href="#" class="text-white"> <i class="fas fa-retweet"></i> Share</a>
                                </div>
                                <div class="col  pl-0   text-right"><a href="#" class="text-white"> June 3, 2019
                                        &nbsp; 6 <i class="far fa-comments"></i></a></div>
                            </div>
                            <h4 class="text-white mt-2">Xiaomi Hao Gertion Hones</h4>
                            <p class="text-white">Jhone Doe</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card"> <img class="card-img link-img" src="{% static "base/images/news5.png" %}" alt="">
                    <div class="card-img-overlay">
                        <div class="top-area"><a href="#" class="text-center d-block"><i
                                    class="far fa-heart"></i></a></div>
                        <div class="bottom-area">
                            <div class="row">
                                <div class="col-5 pr-0 text-white">
                                    <a href="#" class="text-white"> <i class="fas fa-retweet"></i> Share</a>
                                </div>
                                <div class="col  pl-0   text-right"><a href="#" class="text-white"> June 3, 2019
                                        &nbsp; 6 <i class="far fa-comments"></i></a></div>
                            </div>
                            <h4 class="text-white mt-2">Xiaomi Hao Gertion Hones</h4>
                            <p class="text-white">Jhone Doe</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card"> <img class="card-img link-img" src="{% static "base/images/news6.png" %}" alt="">
                    <div class="card-img-overlay">
                        <div class="top-area"><a href="#" class="text-center d-block"><i
                                    class="far fa-heart"></i></a></div>
                        <div class="bottom-area">
                            <div class="row">
                                <div class="col-5 pr-0 text-white">
                                    <a href="#" class="text-white"> <i class="fas fa-retweet"></i> Share</a>
                                </div>
                                <div class="col  pl-0   text-right"><a href="#" class="text-white"> June 3, 2019
                                        &nbsp; 6 <i class="far fa-comments"></i></a></div>
                            </div>
                            <h4 class="text-white mt-2">Xiaomi Hao Gertion Hones</h4>
                            <p class="text-white">Jhone Doe</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card"> <img class="card-img link-img" src="{% static "base/images/news4.png" %}" alt="">
                    <div class="card-img-overlay">
                        <div class="top-area"><a href="#" class="text-center d-block"><i
                                    class="far fa-heart"></i></a></div>
                        <div class="bottom-area">
                            <div class="row">
                                <div class="col-5 pr-0 text-white">
                                    <a href="#" class="text-white"> <i class="fas fa-retweet"></i> Share</a>
                                </div>
                                <div class="col  pl-0   text-right"><a href="#" class="text-white"> June 3, 2019
                                        &nbsp; 6 <i class="far fa-comments"></i></a></div>
                            </div>
                            <h4 class="text-white mt-2">Xiaomi Hao Gertion Hones</h4>
                            <p class="text-white">Jhone Doe</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
